* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#topo {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background: url(../images/job562-nunoon-10.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topo h1 {
    font-size: 3.5em;
    margin-bottom: 25px;
    margin-top: 25px;
    color: rgb(193, 112, 42);
}

#topo p {
    font-size: 1.2em;
}

#doacao {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 11px;
    font-size: 1em;
    margin-top: 25px;
    color: white;
    background-color: rgb(193, 112, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#doacao:hover {
    background-color: orange;
}

#doacao img {
    margin-left: 25px;
}

#doacao span {
    margin-left: 45px;
}

#adocao {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#adocao h1 {
    font-size: 3.8em;
}

#adocao p {
    font-size: 1.5em;
}

#adocao-button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 11px;
    font-size: 1em;
    margin-top: 25px;
    color: white;
    background-color: rgb(193, 112, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

#adocao-button:hover {
    background-color: orange;
}

#adocao-button img {
    margin-right: 10px;
}

#adocao-button span {
    margin-left: 45px;
}

#padrinho {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

#texto-padrinho {
    font-size: 1.8em;
    text-align:left;
    margin-left: 50px;
    width: 600px;
}

#texto-padrinho h1 {
    margin-bottom: 10px;
}

#botao-padrinho {
    width: 200px;
    height: 30px;
    border-radius: 11px;
    border: none;
    color: white;
    background: rgb(193, 112, 42);
    font-size: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

#botao-padrinho:hover {
    background: orange;
}

#padrinho a {
    text-decoration: none;
}


@media (min-width: 1350px) {
    
    #adocao {
        width: 70%;
    }

    #texto-adocao {
        width: 500px;
    }

    #padrinho {
        width: 70%;
    }

}

@media (max-width: 960px) {

    #img-adocao-img {
        width: 300px;
    }

    #texto-adocao {
        width: 400px;
        font-size: 0.8em;
    }

    #img-padrinho-img {
        width: 300px;
    }

    #texto-padrinho {
        width: 400px;
        font-size: 1.3em;
    }

    #botao-padrinho {
        font-size: 0.6em;
    }

    #topo h1 {
        font-size: 2.5em;
    }

    #topo p {
        width: 400px;
        text-align: center;
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {

    #adocao {
        flex-direction: column;
        height: 400px;
        width: 360px;
    }

    #texto-adocao {
        text-align: center;
    }

    #texto-adocao h1 {
        font-size: 2em;
    }

    #texto-adocao p {
        text-align: center;
        font-size: 1em;
        margin-bottom: 30px;

    }

    #adocao-button {
        text-align: center;
        margin: 12px auto;
    }

    #padrinho {
        flex-direction: column-reverse;
        width: 360px;
    }

    #texto-padrinho {
        text-align: center;
        margin-bottom: 100px;
        margin-left: 0;
    }

    #texto-padrinho h1 {
        font-size: 1.2em;
        text-align: center;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    #botao-padrinho {
        font-size: 0.6em;
    }

    #topo h1 {
        text-align: center;
        font-weight: bold;
        color: black;
    }

    #topo p {
        font-size: 1em;
        width: 80%;
        color: black;
        font-weight: bold;
    }

    #topo {
        width: 380px;
    }

}